# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea
*.iml

target
out
/actions-runner/.credentials
/actions-runner/.credentials_rsaparams
/actions-runner/.runner
/actions-runner/bin/actions.runner.plist.template
/actions-runner/bin/actions.runner.service.template
/actions-runner/bin/api-ms-win-core-console-l1-1-0.dll
/actions-runner/bin/api-ms-win-core-console-l1-2-0.dll
/actions-runner/bin/api-ms-win-core-datetime-l1-1-0.dll
/actions-runner/bin/api-ms-win-core-debug-l1-1-0.dll
/actions-runner/bin/api-ms-win-core-errorhandling-l1-1-0.dll
/actions-runner/bin/api-ms-win-core-fibers-l1-1-0.dll
/actions-runner/bin/api-ms-win-core-file-l1-1-0.dll
/actions-runner/bin/api-ms-win-core-file-l1-2-0.dll
/actions-runner/bin/api-ms-win-core-file-l2-1-0.dll
/actions-runner/bin/api-ms-win-core-handle-l1-1-0.dll
/actions-runner/bin/api-ms-win-core-heap-l1-1-0.dll
/actions-runner/bin/api-ms-win-core-interlocked-l1-1-0.dll
/actions-runner/bin/api-ms-win-core-libraryloader-l1-1-0.dll
/actions-runner/bin/api-ms-win-core-localization-l1-2-0.dll
/actions-runner/bin/api-ms-win-core-memory-l1-1-0.dll
/actions-runner/bin/api-ms-win-core-namedpipe-l1-1-0.dll
/actions-runner/bin/api-ms-win-core-processenvironment-l1-1-0.dll
/actions-runner/bin/api-ms-win-core-processthreads-l1-1-0.dll
/actions-runner/bin/api-ms-win-core-processthreads-l1-1-1.dll
/actions-runner/bin/api-ms-win-core-profile-l1-1-0.dll
/actions-runner/bin/api-ms-win-core-rtlsupport-l1-1-0.dll
/actions-runner/bin/api-ms-win-core-string-l1-1-0.dll
/actions-runner/bin/api-ms-win-core-synch-l1-1-0.dll
/actions-runner/bin/api-ms-win-core-synch-l1-2-0.dll
/actions-runner/bin/api-ms-win-core-sysinfo-l1-1-0.dll
/actions-runner/bin/api-ms-win-core-timezone-l1-1-0.dll
/actions-runner/bin/api-ms-win-core-util-l1-1-0.dll
/actions-runner/bin/api-ms-win-crt-conio-l1-1-0.dll
/actions-runner/bin/api-ms-win-crt-convert-l1-1-0.dll
/actions-runner/bin/api-ms-win-crt-environment-l1-1-0.dll
/actions-runner/bin/api-ms-win-crt-filesystem-l1-1-0.dll
/actions-runner/bin/api-ms-win-crt-heap-l1-1-0.dll
/actions-runner/bin/api-ms-win-crt-locale-l1-1-0.dll
/actions-runner/bin/api-ms-win-crt-math-l1-1-0.dll
/actions-runner/bin/api-ms-win-crt-multibyte-l1-1-0.dll
/actions-runner/bin/api-ms-win-crt-private-l1-1-0.dll
/actions-runner/bin/api-ms-win-crt-process-l1-1-0.dll
/actions-runner/bin/api-ms-win-crt-runtime-l1-1-0.dll
/actions-runner/bin/api-ms-win-crt-stdio-l1-1-0.dll
/actions-runner/bin/api-ms-win-crt-string-l1-1-0.dll
/actions-runner/bin/api-ms-win-crt-time-l1-1-0.dll
/actions-runner/bin/api-ms-win-crt-utility-l1-1-0.dll
/actions-runner/bin/clretwrc.dll
/actions-runner/bin/clrjit.dll
/actions-runner/config.cmd
/actions-runner/bin/coreclr.dll
/actions-runner/bin/createdump.exe
/actions-runner/bin/darwin.svc.sh.template
/actions-runner/bin/dbgshim.dll
/actions-runner/bin/checkScripts/downloadCert.js
/actions-runner/bin/hostfxr.dll
/actions-runner/bin/hostpolicy.dll
/actions-runner/bin/hashFiles/index.js
/actions-runner/bin/installdependencies.sh
/actions-runner/bin/macos-run-invoker.js
/actions-runner/bin/checkScripts/makeWebRequest.js
/actions-runner/bin/Microsoft.CSharp.dll
/actions-runner/bin/Microsoft.DiaSymReader.Native.amd64.dll
/actions-runner/bin/Microsoft.IdentityModel.Logging.dll
/actions-runner/bin/Microsoft.IdentityModel.Tokens.dll
/actions-runner/bin/Microsoft.VisualBasic.Core.dll
/actions-runner/bin/Microsoft.VisualBasic.dll
/actions-runner/bin/Microsoft.Win32.Primitives.dll
/actions-runner/bin/Microsoft.Win32.Registry.dll
/actions-runner/bin/Minimatch.dll
/actions-runner/bin/mscordaccore.dll
/actions-runner/bin/mscordaccore_amd64_amd64_6.0.2023.32017.dll
/actions-runner/bin/mscordbi.dll
/actions-runner/bin/mscorlib.dll
/actions-runner/bin/mscorrc.dll
/actions-runner/bin/msquic.dll
/actions-runner/bin/netstandard.dll
/actions-runner/bin/Newtonsoft.Json.Bson.dll
/actions-runner/bin/Newtonsoft.Json.dll
/actions-runner/externals/node16/bin/node.exe
/actions-runner/externals/node20/bin/node.exe
/actions-runner/externals/node16/bin/node.lib
/actions-runner/externals/node20/bin/node.lib
/actions-runner/run.cmd
/actions-runner/run-helper.cmd
/actions-runner/run-helper.cmd.template
/actions-runner/run-helper.sh.template
/actions-runner/bin/Runner.Common.deps.json
/actions-runner/bin/Runner.Common.dll
/actions-runner/bin/Runner.Listener.deps.json
/actions-runner/bin/Runner.Listener.dll
/actions-runner/bin/Runner.Listener.exe
/actions-runner/bin/Runner.Listener.runtimeconfig.json
/actions-runner/bin/Runner.PluginHost.deps.json
/actions-runner/bin/Runner.PluginHost.dll
/actions-runner/bin/Runner.PluginHost.exe
/actions-runner/bin/Runner.PluginHost.runtimeconfig.json
/actions-runner/bin/Runner.Plugins.deps.json
/actions-runner/bin/Runner.Plugins.dll
/actions-runner/bin/Runner.Sdk.deps.json
/actions-runner/bin/Runner.Sdk.dll
/actions-runner/bin/Runner.Worker.deps.json
/actions-runner/bin/Runner.Worker.dll
/actions-runner/bin/Runner.Worker.exe
/actions-runner/bin/Runner.Worker.runtimeconfig.json
/actions-runner/bin/RunnerService.exe
/actions-runner/bin/RunnerService.exe.config
/actions-runner/bin/runsvc.sh
/actions-runner/bin/Sdk.deps.json
/actions-runner/bin/Sdk.dll
/actions-runner/bin/System.AppContext.dll
/actions-runner/bin/System.Buffers.dll
/actions-runner/bin/System.Collections.Concurrent.dll
/actions-runner/bin/System.Collections.dll
/actions-runner/bin/System.Collections.Immutable.dll
/actions-runner/bin/System.Collections.NonGeneric.dll
/actions-runner/bin/System.Collections.Specialized.dll
/actions-runner/bin/System.ComponentModel.Annotations.dll
/actions-runner/bin/System.ComponentModel.DataAnnotations.dll
/actions-runner/bin/System.ComponentModel.dll
/actions-runner/bin/System.ComponentModel.EventBasedAsync.dll
/actions-runner/bin/System.ComponentModel.Primitives.dll
/actions-runner/bin/System.ComponentModel.TypeConverter.dll
/actions-runner/bin/System.Configuration.dll
/actions-runner/bin/System.Console.dll
/actions-runner/bin/System.Core.dll
/actions-runner/bin/System.Data.Common.dll
/actions-runner/bin/System.Data.DataSetExtensions.dll
/actions-runner/bin/System.Data.dll
/actions-runner/bin/System.Diagnostics.Contracts.dll
/actions-runner/bin/System.Diagnostics.Debug.dll
/actions-runner/bin/System.Diagnostics.DiagnosticSource.dll
/actions-runner/bin/System.Diagnostics.FileVersionInfo.dll
/actions-runner/bin/System.Diagnostics.Process.dll
/actions-runner/bin/System.Diagnostics.StackTrace.dll
/actions-runner/bin/System.Diagnostics.TextWriterTraceListener.dll
/actions-runner/bin/System.Diagnostics.Tools.dll
/actions-runner/bin/System.Diagnostics.TraceSource.dll
/actions-runner/bin/System.Diagnostics.Tracing.dll
/actions-runner/bin/System.dll
/actions-runner/bin/System.Drawing.dll
/actions-runner/bin/System.Drawing.Primitives.dll
/actions-runner/bin/System.Dynamic.Runtime.dll
/actions-runner/bin/System.Formats.Asn1.dll
/actions-runner/bin/System.Globalization.Calendars.dll
/actions-runner/bin/System.Globalization.dll
/actions-runner/bin/System.Globalization.Extensions.dll
/actions-runner/bin/System.IdentityModel.Tokens.Jwt.dll
/actions-runner/bin/System.IO.Compression.Brotli.dll
/actions-runner/bin/System.IO.Compression.dll
/actions-runner/bin/System.IO.Compression.FileSystem.dll
/actions-runner/bin/System.IO.Compression.Native.dll
/actions-runner/bin/System.IO.Compression.ZipFile.dll
/actions-runner/bin/System.IO.dll
/actions-runner/bin/System.IO.FileSystem.AccessControl.dll
/actions-runner/bin/System.IO.FileSystem.dll
/actions-runner/bin/System.IO.FileSystem.DriveInfo.dll
/actions-runner/bin/System.IO.FileSystem.Primitives.dll
/actions-runner/bin/System.IO.FileSystem.Watcher.dll
/actions-runner/bin/System.IO.IsolatedStorage.dll
/actions-runner/bin/System.IO.MemoryMappedFiles.dll
/actions-runner/bin/System.IO.Pipes.AccessControl.dll
/actions-runner/bin/System.IO.Pipes.dll
/actions-runner/bin/System.IO.UnmanagedMemoryStream.dll
/actions-runner/bin/System.Linq.dll
/actions-runner/bin/System.Linq.Expressions.dll
/actions-runner/bin/System.Linq.Parallel.dll
/actions-runner/bin/System.Linq.Queryable.dll
/actions-runner/bin/System.Memory.dll
/actions-runner/bin/System.Net.dll
/actions-runner/bin/System.Net.Http.dll
/actions-runner/bin/System.Net.Http.Formatting.dll
/actions-runner/bin/System.Net.Http.Json.dll
/actions-runner/bin/System.Net.HttpListener.dll
/actions-runner/bin/System.Net.Mail.dll
/actions-runner/bin/System.Net.NameResolution.dll
/actions-runner/bin/System.Net.NetworkInformation.dll
/actions-runner/bin/System.Net.Ping.dll
/actions-runner/bin/System.Net.Primitives.dll
/actions-runner/bin/System.Net.Quic.dll
/actions-runner/bin/System.Net.Requests.dll
/actions-runner/bin/System.Net.Security.dll
/actions-runner/bin/System.Net.ServicePoint.dll
/actions-runner/bin/System.Net.Sockets.dll
/actions-runner/bin/System.Net.WebClient.dll
/actions-runner/bin/System.Net.WebHeaderCollection.dll
/actions-runner/bin/System.Net.WebProxy.dll
/actions-runner/bin/System.Net.WebSockets.Client.dll
/actions-runner/bin/System.Net.WebSockets.dll
/actions-runner/bin/System.Numerics.dll
/actions-runner/bin/System.Numerics.Vectors.dll
/actions-runner/bin/System.ObjectModel.dll
/actions-runner/bin/System.Private.CoreLib.dll
/actions-runner/bin/System.Private.DataContractSerialization.dll
/actions-runner/bin/System.Private.Uri.dll
/actions-runner/bin/System.Private.Xml.dll
/actions-runner/bin/System.Private.Xml.Linq.dll
/actions-runner/bin/System.Reflection.DispatchProxy.dll
/actions-runner/bin/System.Reflection.dll
/actions-runner/bin/System.Reflection.Emit.dll
/actions-runner/bin/System.Reflection.Emit.ILGeneration.dll
/actions-runner/bin/System.Reflection.Emit.Lightweight.dll
/actions-runner/bin/System.Reflection.Extensions.dll
/actions-runner/bin/System.Reflection.Metadata.dll
/actions-runner/bin/System.Reflection.Primitives.dll
/actions-runner/bin/System.Reflection.TypeExtensions.dll
/actions-runner/bin/System.Resources.Reader.dll
/actions-runner/bin/System.Resources.ResourceManager.dll
/actions-runner/bin/System.Resources.Writer.dll
/actions-runner/bin/System.Runtime.CompilerServices.Unsafe.dll
/actions-runner/bin/System.Runtime.CompilerServices.VisualC.dll
/actions-runner/bin/System.Runtime.dll
/actions-runner/bin/System.Runtime.Extensions.dll
/actions-runner/bin/System.Runtime.Handles.dll
/actions-runner/bin/System.Runtime.InteropServices.dll
/actions-runner/bin/System.Runtime.InteropServices.RuntimeInformation.dll
/actions-runner/bin/System.Runtime.Intrinsics.dll
/actions-runner/bin/System.Runtime.Loader.dll
/actions-runner/bin/System.Runtime.Numerics.dll
/actions-runner/bin/System.Runtime.Serialization.dll
/actions-runner/bin/System.Runtime.Serialization.Formatters.dll
/actions-runner/bin/System.Runtime.Serialization.Json.dll
/actions-runner/bin/System.Runtime.Serialization.Primitives.dll
/actions-runner/bin/System.Runtime.Serialization.Xml.dll
/actions-runner/bin/System.Security.AccessControl.dll
/actions-runner/bin/System.Security.Claims.dll
/actions-runner/bin/System.Security.Cryptography.Algorithms.dll
/actions-runner/bin/System.Security.Cryptography.Cng.dll
/actions-runner/bin/System.Security.Cryptography.Csp.dll
/actions-runner/bin/System.Security.Cryptography.Encoding.dll
/actions-runner/bin/System.Security.Cryptography.OpenSsl.dll
/actions-runner/bin/System.Security.Cryptography.Pkcs.dll
/actions-runner/bin/System.Security.Cryptography.Primitives.dll
/actions-runner/bin/System.Security.Cryptography.ProtectedData.dll
/actions-runner/bin/System.Security.Cryptography.X509Certificates.dll
/actions-runner/bin/System.Security.dll
/actions-runner/bin/System.Security.Principal.dll
/actions-runner/bin/System.Security.Principal.Windows.dll
/actions-runner/bin/System.Security.SecureString.dll
/actions-runner/bin/System.ServiceModel.Web.dll
/actions-runner/bin/System.ServiceProcess.dll
/actions-runner/bin/System.ServiceProcess.ServiceController.dll
/actions-runner/bin/System.Text.Encoding.CodePages.dll
/actions-runner/bin/System.Text.Encoding.dll
/actions-runner/bin/System.Text.Encoding.Extensions.dll
/actions-runner/bin/System.Text.Encodings.Web.dll
/actions-runner/bin/System.Text.Json.dll
/actions-runner/bin/System.Text.RegularExpressions.dll
/actions-runner/bin/System.Threading.Channels.dll
/actions-runner/bin/System.Threading.dll
/actions-runner/bin/System.Threading.Overlapped.dll
/actions-runner/bin/System.Threading.Tasks.Dataflow.dll
/actions-runner/bin/System.Threading.Tasks.dll
/actions-runner/bin/System.Threading.Tasks.Extensions.dll
/actions-runner/bin/System.Threading.Tasks.Parallel.dll
/actions-runner/bin/System.Threading.Thread.dll
/actions-runner/bin/System.Threading.ThreadPool.dll
/actions-runner/bin/System.Threading.Timer.dll
/actions-runner/bin/System.Transactions.dll
/actions-runner/bin/System.Transactions.Local.dll
/actions-runner/bin/System.ValueTuple.dll
/actions-runner/bin/System.Web.dll
/actions-runner/bin/System.Web.HttpUtility.dll
/actions-runner/bin/System.Windows.dll
/actions-runner/bin/System.Xml.dll
/actions-runner/bin/System.Xml.Linq.dll
/actions-runner/bin/System.Xml.ReaderWriter.dll
/actions-runner/bin/System.Xml.Serialization.dll
/actions-runner/bin/System.Xml.XDocument.dll
/actions-runner/bin/System.Xml.XmlDocument.dll
/actions-runner/bin/System.Xml.XmlSerializer.dll
/actions-runner/bin/System.Xml.XPath.dll
/actions-runner/bin/System.Xml.XPath.XDocument.dll
/actions-runner/bin/systemd.svc.sh.template
/actions-runner/bin/ucrtbase.dll
/actions-runner/bin/update.cmd.template
/actions-runner/bin/update.sh.template
/actions-runner/bin/WindowsBase.dll
/actions-runner/bin/YamlDotNet.dll
